@model WebApplication5.department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.depName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userdb.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userdb.ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.depID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
