@model IEnumerable<WebApplication5.userdb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New User", "Create") <br />
    @Html.ActionLink("Create New Department","Create","deps")<br />
    @Html.ActionLink("I want to change my password", "ChangePass", "Login")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telno)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.department.depName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telno)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.department.depName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

